<div>
  <b style="padding: 5px">S.A.M. - System Analytics & Metrics</b>
</div>
<div>
  <button *ngIf="isAdmin" mat-button routerLink="/spreadsheet">Workflow</button>
  <button *ngIf="isAdmin" mat-button routerLink="/dataimport">Data Import</button>
  <button *ngIf="isAdmin" mat-button routerLink="/usermanagement">User Management</button>
  <button mat-button routerLink="/history">History</button>
  <button mat-button (click)="reset()">Reset Spreadsheet</button>
  <input matInput [(ngModel)]="searchTxt" (ngModelChange)="search()">
</div>
<div>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Column Visibility
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li *ngFor="let subtask of getColdefs()">
          <mat-checkbox [(ngModel)]="!subtask.hide" (ngModelChange)="refreshColVisibility(subtask, subtask.hide)">
            {{subtask.headerName}}
          </mat-checkbox>
        </li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Analytics
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item role="listitem">Companies Due in 45 Days: {{dueIn45}}</mat-list-item>
        <mat-list-item role="listitem">Companies Updated in Last 45 Days: {{updatedInLast45}}</mat-list-item>
        <mat-list-item role="listitem">Companies Updated in Last 60 Days: {{updatedInLast60}}</mat-list-item>
        <mat-list-item role="listitem">Companies NOT Updated in Last 60 Days: {{notUpdatedInLast60}}</mat-list-item>
        <mat-list-item role="listitem">Partial Updated: {{partialUpdatedVisible}}</mat-list-item>
        <mat-list-item role="listitem" style="background-color: red">Red: {{red}}</mat-list-item>
        <mat-list-item role="listitem" style="background-color: yellow">Yellow: {{yellow}}</mat-list-item>
        <mat-list-item role="listitem">Clear: {{clear}}</mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<ag-grid-angular
  *ngIf="gridReady"
  style="width: 100%; height: 80vh"
  class="ag-theme-alpine"
  [gridOptions]="gridOptions"
  [rowData]="gridOptions.rowData"
  [columnDefs]="gridOptions.columnDefs"
  [rowSelection]="'multiple'"
  [animateRows]="true"
></ag-grid-angular>
