<div *ngIf="isAdmin">
  <button mat-button routerLink="/spreadsheet">Workflow</button>
  <button mat-button routerLink="/dataimport">Data Import</button>
  <button mat-button routerLink="/usermanagement">User Management</button>
  <button mat-button routerLink="/history">History</button>
</div>
<div>
  <input type="file" id="coverPhoto" accept="text/csv" (change)="onImportChange($event)"
         size="chars">
  <button mat-button color="warn" *ngIf="importRows.length > 0 || manualRow.CompanyID" [disabled]="loading" (click)="import()">Import</button>
</div>
<ag-grid-angular *ngIf="gridReady"
                 style="width: 100%; height: 100%"
                 class="ag-theme-alpine"
                 [gridOptions]="gridOptions"
                 [rowData]="gridOptions.rowData"
                 [columnDefs]="gridOptions.columnDefs"
                 [rowSelection]="'multiple'"
                 [animateRows]="true"
></ag-grid-angular>
